*{
    /* background-color: #F2F2F2; */
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body{
    background-image: url('/images/bg.jpg');
    background-size: cover;
}
.navItem{
    color: black;
    font-size: 1rem;
}
.navItem:hover{
    color: black;
    text-decoration: none;
    font-weight: 600;

}
.navButton{
    border-radius: 50rem !important;
    color: #ffffff !important;
    border: 1px solid #183348 !important;
    background-color: #183348 !important;
    min-width: 7rem;
}
.navbar{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.adminDiv {
    padding: 7rem 1.5rem;
    text-align: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
margin-top: 5rem;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 5rem;
    
}
.mainDiv{
    min-height: 100vh;
}
.form-group{
    text-align: left;
}
.footer{
    background-color: #497174;
    color: white;
    text-align: center;
}
.footer div a{
    text-decoration: none;
    color: white;
}
.footer div a:hover{
    font-weight: bolder;
}