*{
    /* background-color: #F2F2F2; */
    font-family:  'Montserrat', sans-serif;;
}
img{
    background-color: inherit;
}
body {
    background-color: #f2f2f2;
}
.navbar{
    /* position: fixed !important;
    top: 0 !important; */
    width: 100% !important;
    padding: 0;
    margin: 0px;
}

.navItem{
    color: #fff;
    font-size: 1rem;
}
.navItem:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;

}
.navbar{
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.navbar-text{
    background-color: inherit;
}
.navButton{
    border-radius: 50rem !important;
    color: #ffffff !important;
    border: 1px solid #183348 !important;
    background-color: #183348 !important;
    min-width: 7rem;
}

.mainDiv{
    width: 100%;
    min-height: 100vh;
    /* padding: 2rem; */
    background-image: url('/images/bg.jpg');
    background-size: cover;
}
.mainText{
    /* margin: 5rem 3rem; */
    width: 95%;
    
    font-size: 5rem;
    font-weight: 400;
    line-height: 5.5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background: transparent;
    padding-top: 8.5rem;
    color: white;
  
}
.mainDivBtn{
    margin-top: 2rem;
}

.mainText a{
    font-size: 1rem;
    /* background-color: #497174; */
    color: white;
    padding: .75rem;
    font-weight: bold;
    border-radius: 0.5rem;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.mainText img{
    background-color: transparent;  
}
.mainText a:hover{
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.clear {
    clear: both;
}
.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 1080px;
    background-color: #f2f2f2;
}

#features ul {
    margin: 80px 0;
}
#features ul li {
    list-style: none;
    width: 280px;
    padding-top: 140px;
    float: left;
    margin: 0 20px;
    text-align: center;
}
#features ul li.feature-1 {
    background: url('../images/features-icon-1.png') no-repeat top center;
}
#features ul li.feature-2 {
    background: url('../images/features-icon-2.png') no-repeat top center;
}
#features ul li.feature-3 {
    background: url('../images/features-icon-3.png') no-repeat top center;
}

.primary-content {
    background-color: #f2f2f2;
    padding: 2rem;
    text-align: center;
    min-height: 100vh;
}
.primary-content h3 {
    display: block;
    margin: 0 auto 20px auto;
    width: 40%;
    border-bottom: 1px solid #02b8dd;
    padding: 0 0 20px 0;
}
.primary-content a img {
    margin: 20px 0;
}
.featureText{
    margin: 0 auto 0px auto;
}
.secondary-content {
    background-color: #f2f2f2;
    padding: 60px 0;
    text-align: center;
    min-height: 100vh;
}
.secondary-content h3 {
    display: block;
    margin: 0 auto 20px auto;
    width: 40%;
    border-bottom: 1px solid #02b8dd;
    padding: 0 0 20px 0;
}
.secondary-content a img {
    margin: 20px 0;
}

.featureDiv{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.featureDiv div{
    width: 30%;
    text-align: center;
}
.featureDiv{
    height: 100vh;
    align-items: center;
}
.mission{
    padding: 0rem 4rem;
    align-items: center;
    min-height: 70vh ;
}
.footer{
    background-color: #497174;
    color: white;
    text-align: center;
}
.footer div a{
    text-decoration: none;
    color: white;
}
.footer div a:hover{
    font-weight: bolder;
}
.mission{
    display: flex;
    justify-content: space-around;
}
.mission div{
    width: 50%;
    min-height: 100vh;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1rem;
}
.missionText{
    /* display: flex; */
    flex-direction: column;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
  }
  
  /* Style the buttons */
  .button {
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    min-height: 300px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
   min-width: 100%;
  }

  .button-container form{
    width: 27%;
    margin: 1rem;
  }
  .button:hover {
    background-color: #183449;
  }
  @media only screen and (max-width: 600px) {

    .button-container form{
      width: 80%;
    }
  }
@media only screen and (max-width: 800px){
    .featureDiv{
        flex-direction: column;
        height: auto;
    }
    .featureDiv div{
        width: 100%;
    }
    .mainDivBtn a{
        margin: 2rem;
        padding: 0% 1rem;
        width: 80%;
        align-items: center;
        line-height: 3.5rem;
    }
    .mission div {
        min-height: 0px;
    }
    #inner1 {
        float:left; 
     }
     .mainText {
        width: 100%;
     }
    #inner2{
        float:left; 
        clear: left;
    }
    .mainText{
        font-size: 4rem;
    }
    .mission{
        padding: 2rem;
        flex-direction: column;
    }
    .mission div{
        width: 100%;
    }
    .primary-content h3{
        width: 100%;
    }
}